/* You can add global styles to this file, and also import other style files */
@import "~src/themes/jnexus";

@include mat-core();

html,
body {
  height: 100%;
}
mat-sidenav {
  width: 15%;
}
mat-card {
  margin: 5px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}
